<!DOCTYPE html>
<html lang='jp'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class='container'>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>

      <form action="post" enctype="multipart/form-data">
        <div class='form-group'>
          <label for='fileGpx'>GPXファイル</label>
          <input type="file" id="fileGpx" name="fileGpx" accept=".gpx"/>
          <div id="gpxstatus" class="help-block"></div>
        </div>
        <hr />
        <div class="form-group">
          <label for="textStart">開始時間</label>
          <input type="text" id="textStart" placeholder="2015-10-1 9:00:00" class='form-control'/>
          <div class="help-block">ここで設定した時間より前のログを削除します。省略すると最初のデータから利用します。
          <br/>ログにある時間より前の時間を設定すると、最初のデータをコピーして、指定した時間のログを追加します。</div>
        </div>
        <div class="form-group">
          <label for="textEnd">終了時間</label>
          <input type="text" id="textEnd" placeholder="2015-10-1 17:00:00" class='form-control'/>
          <div class="help-block">ここで設定した時間より後ろのログを削除します。省略すると最後までデータを利用します。
          <br/>ログにある時間より後ろの時間を設定すると、最後のデータをコピーして、指定した時間のログを追加します。</div>
        </div>
        <submit class='btn btn-primary'>GPX変換</submit>
      </form>
      <hr />
      <div class="copyright">2015 YuTanaka / <a href='https://github.com/am1tanaka/gpx-trimmer-js/blob/master/LICENSE'>MIT License</a></div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/libgpx.js"></script>
  </body>
</html>
